#! /usr/bin/make -f

dh = --with=cli

include /usr/share/pkg-kde-tools/qt-kde-team/2/debian-qt-kde.mk

.PHONY: override_dh_auto_test

override_dh_auto_install:
	$(overridden_command) --destdir=debian/tmp

